.photo{
    width:50%;
    height:60%;
}
.nasa-photo-frame {
width : 50%;
float :left;
padding :20px;
}
.nasa-photo{
/* border : 3px solid rgb(92, 22, 223);
padding :20px; */
float : right;
width : 180 px;
height : 160 px;
background-color : white;
border : solid black;

}
.nasa-title{
font-size:30px;
}
.nav-back{
    justify-self:center;
    align-items:center;
    align-self: center;
    font-size: 30px;
background-image : url(../../public/images/rocket.jpg);
text-decoration:none;

}